.guitar-table {
  display: grid;
  grid-template-columns: repeat(13, 40px);
  /* gap: 10px; */
}

.string {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}

.cell {
  height: 40px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.note {
  font-size: 12px;
}
